---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "What we do",
    path: "#",
    children: [
      { title: "Javascript Development", path: "/what-we-do/jamstack-development" },
      { title: "JAMStack Development", path: "/what-we-do/jamstack-development" },
      { title: "Javascript Performance", path: "/what-we-do/javascript-performance" },
      { title: "eCommerce Development", path: "/what-we-do/headless-ecommerce" },
      { title: "Digital Strategy", path: "/what-we-do/digital-strategy" },
      { title: "Integrations", path: "/what-we-do/integration" },
      { title: "AI Workflows & Agents", path: "/what-we-do/ai" },
    ],
  },
  {
    title: "What we use",
    path: "#",
    children: [
      { title: "What is JAMStack", path: "/" },
      { title: "Headless CMS", path: "/" },
      { title: "Static Sites", path: "/" },
      { title: "Decoding the modern web", path: "/" },
      { title: "React", path: "/technologies/react" },
      { title: "NextJS", path: "/technologies/nextjs" },
      { title: "Vue", path: "/technologies/vue" },
      { title: "Svelte", path: "/technologies/svelte" },
      { title: "Astro", path: "/technologies/astro" },
    ],
  },
  {
    title: "Company",
    path: "#",
    children: [
      { title: "Our Story", path: "/our-story" },
      { title: "How we work", path: "/how-we-work" },
      // { title: "Case Studies", path: "#" },
      { title: "Join Our Team", path: "/join-us" },
    ],
  },
  {
    title: "Blog",
    path: "/blog",
  },
  // {
  //   title: "Contact",
  //   path: "/contact",
  // },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">Jam</span><span
            class="text-slate-500">works</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <!-- <a href="#">Log in</a> -->
        <Link href="/contact" size="md">Get in Touch</Link>
      </div>
    </div>
  </header>
</Container>
