---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
    title: "Javascript Development",
    description:
      "Craft digital experiences that your customers will love.",
    icon: "bx:bxs-user",
  },
  {
    title: "JAM Stack Web Developemnt",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Headless eCommerce Development",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Javascript Performance",
    description:
      "Slow sites cost money, we will get the best out of yours.",
    icon: "bx:bxs-data",
  },
  {
    title: "Website Integration",
    description:
      "Get your website talking to all your other systems. Email, CRM, Analytics, Martech, Adtech,  Inventory, Databases the list goes on....",
    icon: "bx:bxs-bot",
  },
  {
    title: "Nextjs Devlopment",
    description:
      "Next.js, we are specialists in the web framework taking the world by storm.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Custom Digital Experiences",
    description:
      "Give your customers the a unique experince, make memories of your brand live unforgetable.",
    icon: "bx:bxs-user",
  },
  {
    title: "Web Enhancement Strategies",
    description:
      "Take your current website from zero to hero.",
    icon: "bx:bxs-user",
  },
  {
    title: "Technical Support",
    description:
      "Your peace of mind, knowing we have your back.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    All your Javascript Development needs covered
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
